/*** CAMPOS PARA CONSULTAR ORDEN ***/
.campos {
    float: left;
    height: 150px;
    width: 100%;
}

.campos .row {
    padding: 0 0 15px 20px;
    width: 98%;
}


.campos .row label {
    float: left;
    padding: 3px 0 0;
    width: 130px;
}

.campos .row.buttons {
    padding-left: 177px;
}

/*** ORDEN DE REPARACION ***/
.ordenDeReparacion {
	background-color: white;
    border: 2px solid #1E1E1E;
    color: #1E1E1E;
    height: 820px;
    margin: 20px 155px;
    width: 595px;
	font-family: Times New Roman;
}

.ordenDeReparacion div {
    float: left;
}

.ordenDeReparacion .cabecera {
    border: 2px solid #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    height: 120px;
    margin: 10px 11px;
    width: 96%;
}

.ordenDeReparacion .cabecera .taller {
    height: 90%;
    margin: 10px 20px 0;
    width: 40%;
}

.ordenDeReparacion .cabecera .taller .nombre-taller {
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

.ordenDeReparacion .cabecera .taller .direccion {
    text-align: center;
    width: 90%;
	padding-top: 10px;
}

.ordenDeReparacion .cabecera .taller .tel-ubicacion {
    width: 90%;
	padding-top: 4px;
}

.ordenDeReparacion .cabecera .documento {
    width: 10%;
	height: 100%;
}

.ordenDeReparacion .cabecera .documento .clase {
    border: 1px solid #6D6D6D;
    font-size: 33pt;
    font-weight: bold;
    height: 50%;
    text-align: center;
    width: 99%;
	border-top:none;
}

.ordenDeReparacion .cabecera .documento .tipo-doc {
	font-size: 7pt;
    text-align: center;
	width:100%;
}

.ordenDeReparacion .cabecera .orden {
    float: right;
    margin: 10px 0 0;
    width: 40%;
}

.ordenDeReparacion .cabecera .orden .titulo-orden {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.ordenDeReparacion .cabecera .orden .num-orden {
    font-size: 13pt;
    font-weight: bold;
    padding: 14px 0;
    text-align: center;
    width: 100%;
}

.ordenDeReparacion .cabecera .orden .fecha {
    font-size: 11pt;
    text-align: center;
    width: 100%;
}

.ordenDeReparacion .datos-cliente {
    border: 2px dotted #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    height: 100px;
    margin: 10px 0 10px 8px;
    padding: 4px 0 4px 4px;
    width: 96%;
}

.ordenDeReparacion .datos-cliente div {
    font-size: 12pt;
    letter-spacing: 4px;
    width: 100%;
	padding-bottom: 5px;
}

.ordenDeReparacion .datos-cliente div.titulo {
    background-color: white;
    padding-left: 5px;
    position: relative;
    top: -120px;
    width: 80px;
}

.ordenDeReparacion .datos-equipo {
    height: 150px;
    border: 2px dotted #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0 10px 8px;
    padding: 4px 0 4px 4px;
    width: 96%;
}

.ordenDeReparacion .datos-equipo div {
    font-size: 12pt;
    letter-spacing: 4px;
    width: 100%;
	padding-bottom: 5px;
}

.ordenDeReparacion .datos-equipo div.titulo {
    background-color: white;
    padding-left: 5px;
    position: relative;
    top: -171px;
    width: 77px;
}

.ordenDeReparacion .detalle {
    border: 2px dotted #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    height: 100px;
    margin: 10px 0 10px 8px;
    padding: 4px 0 4px 4px;
    width: 96%;
}

.ordenDeReparacion .detalle div {
    font-size: 12pt;
    letter-spacing: 4px;
    width: 100%;
	padding-bottom: 5px;
}

.ordenDeReparacion .detalle div.reparacion {
    height:75px;
}

.ordenDeReparacion .detalle div.titulo {
    background-color: white;
    padding-left: 5px;
    position: relative;
    top: -126px;
    width: 255px;
}

.ordenDeReparacion .acceso {
    border: 2px dotted #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    height: 150px;
    margin: 10px 0 10px 8px;
    padding: 4px 0 4px 4px;
    width: 96%;
}

.ordenDeReparacion .acceso div {
    font-size: 11pt;
    letter-spacing: 4px;
    width: 100%;
	padding-bottom: 5px;
}

.ordenDeReparacion .acceso div.sitio {
    padding: 5px 30px;
    width: 89%;
	font-weight: bold;
}

.ordenDeReparacion .acceso .passport .negrita{
	font-weight: bold;
    letter-spacing: normal;
    padding: 0;
    width: auto;
}

.ordenDeReparacion .fechas {
    padding: 8px 12px 0 14px;
    width: 96%;
	border-top: 2px dotted #6D6D6D;
}

.ordenDeReparacion .fechas div {
    font-size: 10pt;
    letter-spacing: 2px;
    padding-bottom: 5px;
    width: 32%;
}


/* <----------------------------NUEVA FICHA A5-------------------------------> */
/* 8.27 x 5.83 
	height: 5.83in;
    width: 8.27in;
	
	height: 5.50in;
    width: 8in;
*/
.ficha-nueva {
	height: 5.50in;
    width: 8in;
	color: black;
}

.ficha-nueva .margen {
	/*background-color: blue;*/
    float: left;
    height: 81%;
    padding: 53px 0 0px 24px;
    width: 97%;
	font-weight: bold;
}

/* <---------MITAD IZQUIERDA---------> */
.ficha-nueva .mitad-izquierda {
	/*background-color: yellow;*/
    float: left;
    height: 100%;
    width: 60%;
}

/* <---------MITAD IZQUIERDA / Cabecera---------> */
.ficha-nueva .mitad-izquierda .cabecera {
	/*background-color: brown;*/
    float: left;
    height: 17%;
    width: 100%;
	font-family: Arial;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
}

.ficha-nueva .mitad-izquierda .cabecera .nro-de-orden {
	font-family: Arial;
    font-size: 27px;
    font-weight: bold;
    height: 15%;
    margin-right: 59px;
    padding-top: 22px;
    text-align: right;
    width: 88%;
}

.ficha-nueva .mitad-izquierda .cabecera .direccion {
	width: 100%;
}

.ficha-nueva .mitad-izquierda .cabecera .telefonos {
	width: 100%;
}

/* <---------MITAD IZQUIERDA / Datos---------> */
.ficha-nueva .mitad-izquierda .datos {
	float: left;
    font-size: 25px;
    height: 69%;
    width: 100%;
}

.ficha-nueva .mitad-izquierda .datos .item {
	float: left;
    height: 25px;
    padding-top: 13px;
    width: 100%;
}	

.ficha-nueva .mitad-izquierda .datos .contrasenia {
	padding-left: 118px;
    width: 76%;
	padding-top: 23px;
}

.ficha-nueva .mitad-izquierda .datos .fecha-ingreso {
	padding-left: 65px;
    width: 87%;
}

.ficha-nueva .mitad-izquierda .datos .tipo {
	padding-left: 66px;
    width: 87%;
}

.ficha-nueva .mitad-izquierda .datos .marca {
	padding-left: 66px;
    /*padding-top: 30px;*/
    width: 87%;
}

.ficha-nueva .mitad-izquierda .datos .modelo {
	padding-left: 77px;
    width: 85%;
}

.ficha-nueva .mitad-izquierda .datos .nro-serie {
	padding-left: 87px;
    width: 83%;
}

/* <---------MITAD DERECHA---------> */
.ficha-nueva .mitad-derecha {
	/*background-color: red;*/
    float: left;
    height: 100%;
    width: 40%;
}

.ficha-nueva .mitad-derecha .primer-nro-de-orden {
	font-size: 60px;
    font-weight: bold;
    padding-top: 16px;
    text-align: right;
    width: 100%;
	height:70px;
}

.ficha-nueva .mitad-derecha .segundo-nro-de-orden{
	font-size: 60px;
    font-weight: bold;
    padding-top: 73px;
    text-align: right;
    width: 100%;
	height:70px;
}	

.ficha-nueva .mitad-derecha .cliente{
	font-size: 18px;
    height: 46px;
    margin-left: 70px;
    text-align: right;
    width: 67%;
}

.ficha-nueva .mitad-derecha .telefono {
	font-size: 18px;
    height: 46px;
    margin-left: 95px;
    text-align: right;
    width: 55%;
	margin-top: 32px;
}

.ficha-nueva .mitad-derecha .precio {
	font-size: 16px;
    font-weight: bold;
    height: 36px;
    padding-left: 139px;
    padding-top: 52px;
    width: 55%;
}