.noticias {
	border: 2px dashed #9fda58;
	background-color:#98C7BB;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 10px 30px;
}

.noticias .titulo-noticias {
	background: url("../images/fondo-titulo-noticias.png") repeat scroll 50% 50% #9FDA58;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 5px 1px;
}

.noticias .noticia {
	background: url("../images/fondo-noticias.png") repeat scroll 50% 50% #9FDA58;
	border-top: 2px dotted #98C7BB;
    float: left;
    padding: 5px 0;
	color: #292929;
	font-weight: bold;
}

.noticias .noticia .fecha {
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.noticias .noticia .texto {
	float: left;
    padding: 0 15px;
    width: 714px;
	border-left: 2px dotted #98C7BB;
}