.pdf {
    font-size: 12px;
    line-height: 1.45em;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.pdf .nro_ordentop {
    padding-left: 300px;
    padding-top:10px;
    padding-bottom: 20px;
}

.pdf .clientCopy {
    padding-left: 130px;
    padding-right: 130px;
    height: 139mm;
}

.pdf .clientCopy .header {
    height: 15mm;
}

.pdf .clientCopy .password {
	padding-top: 10px;	
}

.pdf .clientCopy .dateIngreso {
	padding-top: 1mm;
}

.pdf .clientCopy .equipo {
	padding-top: 1mm;
}

.pdf .clientCopy .marca {
	

}

.pdf .clientCopy .modelo {
	

}

.pdf .clientCopy .nroSerie {
	

}

.pdf .clientCopy .falla {
	padding-top: 1mm;
}

.pdf .clientCopy .content {
	height: 190px;
    width: 100%;
}

.pdf .clientCopy .footer {

}

.pdf .clientCopy .footer .legal {
    font-size: 7px;
}

.pdf .ticket {
    padding-right: 0px;
    font-size: 12px;
}

.pdf .ticket div.leftSide div,
.pdf .ticket div.rightSide div {
    padding-bottom: 7px;
}

.pdf .ticket .leftSide {
    width: 60%;
    float:left;
    padding-top: 0mm;
    line-height: 1.2em;
}

.pdf .ticket .leftSide .lastname {

}

.pdf .ticket .leftSide .firstname {

}

.pdf .ticket .leftSide .equipo {
	padding-top: 1mm;
}

.pdf .ticket .leftSide .marca {

}

.pdf .ticket .leftSide .modelo {

}

.pdf .ticket .leftSide .nroSerie {

}

.pdf .ticket .leftSide .falla {

}

.pdf .ticket .rightSide {
    width: 40%;
    float:right;
}

.pdf .ticket .rightSide .dateIngreso {

}

.pdf .ticket .rightSide .address {
	padding-top: 2mm;

}

.pdf .ticket .rightSide .tel {
    padding-bottom: 0;
}

.pdf .ticket .rightSide .cel {

}

.pdf .ticket .rightSide .imei {

}

.pdf .nfalla {
    font-size: 14px;
    height: 50px;
}

.pdf .extras {
    font-size: 16px;
    line-height: 1.35em;
}

.pdf .extras .observaciones {
    width: 100%;
}

.pdf .extras .condiciones {
    font-size: 12px;
}

.pdf .extras .condiciones .firma {

}

.pdf .extras .reparacion {
    margin-top: 5px;
}

.pdf .extras .repuestos{

}

.pdf .extras .fechas{

}

.pdf .extras .firma-final{
    text-align: right;
}

span.info {
    font-weight: bold;
}

div {
    /*border: dashed 1px red;*/
}