.pdf {
	padding-top: 3mm;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.45em;
    width: 459pt;
    height: 649pt;
}

.pdf .clientCopy {
    padding-left: 220px;
    padding-right: 50px;
    height: 139mm;
}

.pdf .clientCopy .header {
    height: 21.5mm;
}

.pdf .clientCopy .password {
	padding-top: 10px;	
}

.pdf .clientCopy .dateIngreso {
	padding-top: 1mm;
}

.pdf .clientCopy .equipo {
	padding-top: 1mm;
}

.pdf .clientCopy .marca {
	

}

.pdf .clientCopy .modelo {
	

}

.pdf .clientCopy .nroSerie {
	

}

.pdf .clientCopy .falla {
	padding-top: 1mm;
}

.pdf .clientCopy .footer {

}

.pdf .ticket {
    padding-left: 80px;
    padding-right: 0px;
}

.pdf .ticket .leftSide {
    width: 60%;
    float:left;
    padding-top: 0mm;
    line-height: 1.2em;
}

.pdf .ticket .leftSide .lastname {

}

.pdf .ticket .leftSide .firstname {

}

.pdf .ticket .leftSide .equipo {
	padding-top: 1mm;
}

.pdf .ticket .leftSide .marca {

}

.pdf .ticket .leftSide .modelo {

}

.pdf .ticket .leftSide .nroSerie {

}

.pdf .ticket .leftSide .falla {

}

.pdf .ticket .rightSide {
    width: 180px;
    float:right;
}

.pdf .ticket .rightSide .dateIngreso {

}

.pdf .ticket .rightSide .address {
	padding-top: 2mm;

}

.pdf .ticket .rightSide .tel {

}

.pdf .ticket .rightSide .cel {

}

.pdf .ticket .rightSide .imei {
	padding-left: -80px;
	padding-top: 4px;
}

.pdf .nfalla {
	padding-left: 80px;
}