#SOs
Thumbs.db
*~
._*
.DS_Store

#IDEs
nbproject
.idea

#/images/
#/.htaccess
/protected/config/main.php
/protected/config/console.php
/yii
/assets
/protected/runtime
/protected/vendors/mpdf/ttfontdata/